doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0 ,user-scalable=0')
    //- meta(name="viewport", content="width=device-width, user-scalable=yes");
    title whotube
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/oocss.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/player.css')
    link(rel='stylesheet', href='/stylesheets/playlist.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
  body
    block content
